
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cheese App</title>
  </head>
  <body>
    <div>
    <a href="/cheeses">Browse Cheeses</a>
    </div>
    <a href="/cheeses/new">Add New Cheese</a>

    <h1>Welcome to the Cheese app!🧀</h1>
    <img 
    class="cheese-pic1"
    src="https://cdn.pixabay.com/photo/2023/08/26/20/56/ai-generated-8215781_1280.jpg"
    alt="board of cheeses"
    style="width: 400px; height: auto;"
    />
    <p>An app for collecting your favorite Cheeses!
    </p>
    <footer>Icons by <a href="www.pixabay.com">Freepix</a></footer>
  </body>
</html>




